.loginContainer{
  display: flex;
  margin: 0 auto;
  max-width: 75em;
  box-sizing: border-box;
  /* verificar */
  margin-top: 20px;
  color: #2C1244;
}

.loginFormDados{
  padding: 1.25em;
  height: 90%;
  margin: 0.625em;
}

/*Logo Empresa*/
.logoEmpresa{
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

.logoImg{
  max-width: 30px;
}

.logoImg img{
  width: 100%;
}


/*Style login*/
.loginContainer .loginFormDados h1{
  color: #2C1244;
  font-size:2.18em ;
}

/*Login Google / Facebook */
.loginContainer .loginRedeSociais{
  display: flex;
  flex-wrap: wrap;
  max-width: 10em;
  margin-bottom: 30px;
}
.loginContainer .loginRedeSociais div{
  max-width: 3em;
  padding:0.625em;
}
.formLogin{
  padding: 10px;
  width: 100%;
}

/*Style p*/
.loginContainer .loginRedeSociais img{
  max-width: 100%;
}

/*Style formulario*/
.loginContainer .loginForm{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.loginContainer .formLogin{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1.56em;
}

.loginAuthentication {
  padding: 0.625em;
  display: flex;
  align-items: center;
}

.loginAuthentication input{
  border: none;
  border-bottom: 1px solid #909090;
  background: none;
  padding: 0.675em;
  margin-left: 0.675em;
  margin-bottom: 0.93em;
  width: 100%;
}

.loginContainer .loginFormDados{
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Remember Password*/
.loginContainer .loginCheckbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 15px;
  width: 100%;
}

.loginContainer .check{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer .check p{
  margin-left: 0.35em;
}

/*Button login*/

.loginContainer .formLogin input[type=submit]{
  background: #2C1244;
  border: none;
  border-radius: 1.87em;
  color: #fff;
  padding: 0.7em;
  width: 100%;
  margin-top:2em;
}

/*Imagem*/
.loginContainer .loginImg img{
  max-width: 100%;
}

.loginContainer .loginImg{
  max-width: 25em;
  padding: 0.31px;
}


/*Media */

@media(max-width : 37.5em){
  .loginImg{
    display: none;
  }

  .loginContainer{
    align-self: center;
    align-items: center;
    margin-top: 10%;
  }

}