.loginContainer{
  display: flex;
  margin: 0 auto;
  max-width: 75em;
  box-sizing: border-box;
  /* verificar */
  margin-top: 20px;
  color: #2C1244;
}

.loginContainer .loginForm{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.loginContainer .loginFormDados{
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25em;
  height: 90%;
  margin: 0.625em;
}
/*Logo Empresa*/
.logoEmpresa{
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

.logoImg{
  max-width: 30px;
}

.logoImg img{
  width: 100%;
}

/*Style login*/
.loginContainer .loginFormDados h1{
  color: #2C1244;
  font-size:2.18em ;
}

/*Login Google / Facebook */
.loginContainer .loginRedeSociais{
  display: flex;
  flex-wrap: wrap;
  max-width: 10em;
  margin-bottom: 30px;
}
.loginContainer .loginRedeSociais div{
  max-width: 3em;
  padding:0.625em;
}

.loginContainer .loginRedeSociais img{
  max-width: 100%;
}

/*Style formulario*/
.loginAuthentication {
  padding: 0.625em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/*Inputs email e senha*/
.loginAuthentication .formAuthentication{
  display: flex;
  width: 100%;
}
.loginAuthentication input{
  border: none;
  border-bottom: 1px solid #909090;
  background: none;
  padding: 0.675em;
  margin-left: 0.675em;
  margin-bottom: 0.93em;
  width: 100%;
}


.loginAuthentication .formCheck{
  width: 100%;
  display: flex;
  padding: 10px;
}

/*Imagem*/
.loginContainer .loginImg img{
  max-width: 100%;
}

.loginContainer .loginImg{
  max-width: 25em;
  padding: 0.31px;
}

.loginAuthentication button[type=submit]{
  background: #2C1244;
  border: none;
  border-radius: 1.87em;
  color: #fff;
  padding: 0.7em;
  width: 100%;
  margin-top:2em;
}

.loginAuthentication button[type=submit]:hover{
  background: rgb(66, 65, 65);
  color: #fff;
}

/*Media */

@media(max-width : 37.5em){
  .loginImg{
    display: none;
  }

  .loginContainer{
    align-self: center;
    align-items: center;
    margin-top: 10%;
  }

}