.Container{
  max-width: 98%;
  margin-top: 1000px;
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.VideoConferencia{
  max-width: 70%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  background: sandybrown;
}

.VideoConferencia img{
  width:100%;
}

.Chat{
  max-width: 25%;
  padding: 5px;
}
.Chat img{
  width:100%;
}

