.ConferenciaContainer{
  max-width: 95%;
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;

}
.VideoConferencia{
  width: 65%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  color: #4C4C4C;
}

.ConferenciaContainer h1{
  font-size: 20px;
}

.ConferenciaContainer p{
  font-size: 16px;
  text-align: justify;
}
.VideoConferencia img{
  width: 100%;
}

.Chat{
  display: flex;
  width: 30%;
  flex-direction: column;
  border: 1px solid #2C1244;
  border-radius: 10px;
  padding-bottom:15px ;
}

.Chat .pergunta-container{
  overflow-y:scroll;
  border-bottom: 1px solid #2C1244;
  min-height: 500px;
  max-width: 100%;
  max-height: 500px;
  margin-bottom: 15px;
  margin-top: 5px;
  font-size: 12px;
}
.Chat .chatResponse{
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.301);
}
.Chat .chatResponse .HoraComents{
  display: flex;
  flex-direction: column;
}

.NomeUser{
  text-decoration-style: solid;
  color: #2C1244;
  font-size: 14px;
}

.HoraComents p{
  font-size: 8px;
  font-weight: 400;
}

.Mensseger{
  color: #2C1244;
  font-size: 14px;
}




.Chat .chatQuestionInput{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 85%;
  margin: 15;
  border: 1px solid #2C1244;
  border-radius: 4px;
  margin: 0 auto;
  align-items: center;
}

.Chat .chatQuestionInput input{
  padding: 10px 0px 10px 40px;
  border: none;
  width: 100%;
}
.Chat .chatQuestionInput button[type=submit]{
  border: none;
  background: none;
  width: 100%;
  padding: 5px;
}

@media(max-width :600px){
  .ConferenciaContainer{

    display: flex;
    flex-direction: column;
  }
  .VideoConferencia{
    width: 98%;
  }

  .VideoConferencia h1{
    font-size: 14px;
  }

  .VideoConferencia p{
    font-size: 12px;
  }

  .Chat{
    width: 98%;
    min-height: 300px;
    max-height: 300px;
    margin-top: 20px;
  }

  .Chat .pergunta-container{
    min-height: 220px;
    max-height: 90%;
  }
}

@media(max-height : 360px){
  .VideoConferencia{
    width: 95%;
    margin: 0 auto;
  }
  .Chat{
    display: none;
  }
}

