@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

@import '../containers/LoginContainer/styles.css';
@import '../containers/LayoutContainer/styles.css';
@import '../containers/VerificationContainer/styles.css';